@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    margin: 1% 0;
}

p {
    text-align: center;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

figure {
    display: flex;    
    flex-direction: column;      
    justify-content: center;  
    align-items: center;   
    width: 100%;         
    margin-bottom: 10px;     
    padding: 10px; 
}

figure img {
    max-width: 100%;        
    height: auto;   
}

p , figure {
    font-size: 25px;
}